.home {
  // margin-top: 10em;
  min-height: 100vh;
  max-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section__text {
  width: 20%;
  .title__h1 {
    text-transform: capitalize;
  }
  p {
    margin: 2em 0;
  }
}

.section__hero {
  width: 35%;
  position: relative;
  img {
    width: 100%;
  }
  .section__hero-absolute {
    img {
      top: 0;
      position: absolute;
    }
    > div {
      top: 0;
      z-index: -10;
      position: absolute;
      width: 100%;
      height: 70%;
      border-radius: 300px;
      // overflow: hidden;
      // img {
      //   width: 100%;
      //   height: 100%;
      // }
      background-image: url("assets/home_imgbg.png");
      // background-position: center;
      // background-size: cover;
      animation: move-bg 200s linear infinite 3s;
    }
  }
}

@media screen and (min-width: 1700px) {
  .section__hero {
    width: 50%;
  }
}

@media screen and (max-width: 1300px) {
  .section__hero {
    width: 40%;
    img {
      width: 100%;
    }
  }
}

@media screen and (max-width: 1150px) {
  .home {
    justify-content: space-evenly;
  }
  .section__hero {
    width: 50%;
    img {
      width: 100%;
    }
  }
}

@media screen and (max-width: 900px) {
  .home {
    margin-top: 2em;
    flex-direction: column;
    padding: 0 8em;
    .section__text {
      width: auto;
      text-align: center;
      margin-bottom: 3em;
      a {
        margin: 0 auto;
      }
    }
    .section__hero {
      width: 100%;
    }
  }
}

@media screen and (max-width: 600px) {
  .home {
    padding: 0 4em;
  }
}

@keyframes move-bg {
    0% { background-position: top left; }
    // 50% { background-position: -2000px 0; }
    // 50% { background-position: -1500px 0; }
    // 50% { background-position: -1500px 0; }
    10% { background-position: bottom left; }
    20% { background-position: bottom center; }
    30% { background-position: center top; }
    40% { background-position: top right; }
    50% { background-position: right bottom; }
    60% { background-position: top right; }
    70% { background-position: center top; }
    80% { background-position: bottom center; }
    90% { background-position: bottom left; }
    100% { background-position: top left; } 
}
