.section5 {
  width: 100%;
  margin-top: 20em;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  h2 {
    color: $color5;
  }
   >h3 {
    margin-bottom: 2em;
  }
  a {
    margin-top: 5em;
    border-color: #05ff00;
  }
}
.section5__article {
  display: flex;
  width: 60%;
  img {
    padding: 2em;
    max-width: 50%;
    min-width: 50%;
    object-fit: cover;
  }
}

.article__text {
  padding: 2em;
  max-width: 50%;
  min-width: 50%;
  border-left: 2px solid #05ff00;
  h3 {
    font-family: $h2-section5-article;
    text-transform: uppercase;
    font-size: 2em;
  }

  p {
    margin-top: 2em;
  }
}

.section5__article-reverse .article__text {
  border-left: none;
}

.section5__article-reverse img {
  border-left: 2px solid #05ff00;
}

.section5__bg1 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
}

.section5__bg2 {
  position: absolute;
  z-index: -10;
  // transform: rotate(351deg);
  bottom: 0;
}

.section5__title {
  text-align: center;
}

.section5__subtitle {
  text-align: center;
}
@media screen and (max-width: 1200px) {
  .section5__article {
    width: 80%;
  }
}
@media screen and (max-width: 900px) {
  .section5__article {
    flex-direction: column;
    width: 60%;
    .article__text {
      max-width: none;
    }
    img {
      max-width: none;
    }
  }

  .section5__article-reverse {
    flex-direction: column-reverse;
    img {
      border-left: none;
    }

    .article__text {
      border-left: 2px solid #05ff00;
    }
  }
}

@media screen and (max-width: 500px) {
  .section5__article {
    width: 80%;
  }

}

@media screen and (min-width: 1800px) {
  .section5 {
    width: 80%;
  }
}

@media screen and (min-width: 2250px) {
  .section5 {
    width: 70%;
  }
}