.section6 {
  margin-top: 20em;
  // height: 100vh;
  max-width: 100%;
  h2 {
    color: $color6;
  }
}

.tren__arriba {
  margin-left: 60%;
  h2,
  h3 {
    margin-left: 25px;
  }
}
.tren__abajo {
  display: flex;
  // height: 70%;
}
.tren__abajo-izquierda {
  padding: 0 0 10em 0;
  width: 60%;
  max-width: 60%;
  overflow: hidden;
  display: flex;
  flex-direction: row-reverse;
  background-image: url(assets/train_leftbg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  img {
    height: 100%;
    // width: 60%;
    // padding: 0 5em 5em 5em;
    margin: 0 2em;
    border-radius: 75px;
    border: 25px solid black;
  }
}

.tren__abajo-puerta {
  padding: 1em;
  width: 30%;
  max-width: 30%;
  // background-image: url(assets/section6_door.png);
  // background-repeat: no-repeat;
  // background-position: center;
  // background-size: 100% 100%;
  border: 25px solid black;
  border-bottom: 0;
  h3 {
    font-family: $h2-section5-article;
    font-size: 1.5em;
    text-transform: uppercase;
  }

  p {
    margin: 2em 0;
  }
}

.tren__abajo-derecha {
  overflow: hidden;
  width: 10%;
  max-width: 10%;
  padding: 0 0 10em 0;
  // padding: 0 0 10em 5em;
  display: flex;
  background-image: url(assets/train_rigthbg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  img {
    // margin: 0 5em 10em 5em;
    // width: 60%;
    // margin: 5em;
    margin: 0 2em;
    border-radius: 75px;
    border: 25px solid black;
  }
}

@media screen and (max-width: 900px) {
  .tren__arriba {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    h2, h3{
      margin: 0;
    }
  }
  .tren__abajo {
    flex-direction: column;
  }
  .tren__abajo-izquierda {
    width: auto;
    max-width: none;
    justify-content: center;
    img {
      width: 100%;
    }
    
    img:nth-child(2), img:last-of-type {
      display: none;
    }
  }

  .tren__abajo-puerta {
    width: auto;
    max-width: none;
  }

  .tren__abajo-derecha {
    display: none;
  }
}
