.section2 {
  display: flex;
  align-items: center;
  min-height: 100vh;
  margin-top: 20em;
  // max-width: 100vw;
  // width: 100%;
}

.section2__img1 {
  // border: 1px solid white;
}

.section2__text {
  padding: 0 2em; // width: 30%;
  h2 {
    color: $color2;
  }

  p {
    margin: 2em 0;
  }

  a {
    border-color: $color2;
  }
}

.section2__images {
  // max-width: 100vw;
  // border: 1px solid white;
  // height: 50%;
  // background-image: url("assets/section2_img3.png");
  // background-repeat: no-repeat;
  // background-size: 100% 100%;
}

@media screen and (max-width: 1300px) {
  .section2 {
    img:nth-child(1) {
      display: none;
    }
    img:nth-child(3) {
      width: 60%;
    }
  }
}

@media screen and (max-width: 850px) {
  .section2 {
    flex-direction: column;
    img:nth-child(3) {
      width: 90%;
    }
    .section2__text {
      text-align: center;
      a {
        margin: 0 auto;
        margin-bottom: 2em;
      }
    }
  }
}

@media screen and (min-width: 1800px) {
  .section2 {
    width: 80%;
  }
}

@media screen and (min-width: 2254px) {
  .section2 {
    width: 70%;
  }
}

@media screen and (min-width: 2500px) {
  .section2 {
    width: 60%;
  }
}