.section5 {
  position: relative;
  margin-top: 20em;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
//   border: 1px solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
  a {
      border-color: $color5;
      margin-top: 2em;
  }
}

.section5__title {
  color: $color5;
  text-align: center;
}

.section5__subtitle {
  text-align: center;
}

.section5__article {
  // padding: 5em;
  width: 60%;
  // min-height: 60%;
//   border: 1px solid white;
  display: grid;
  grid-template-columns: 50% 50%;
  img {
    // padding: 3em;
    padding-right: 3em;
    padding-bottom: 3em;
    // border: 1px solid white;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .article__text {
    border-left: 2px solid #05ff00;
    padding-left: 3em;
    padding-bottom: 3em;
    p {
      margin-top: 1em;
    }
  }
  &:first-of-type {
      margin-top: 5em;
  }
  h3 {
    font-family: $h2-section5-article;
    font-size: 2em;
    text-transform: uppercase;
  }
}

.section5__article-reverse {
  grid-template-columns: 50% minmax(auto, 50%);
  img {
    // grid-column: 0;
    padding-left: 3em;
    padding-right: 0;
    border-left: 2px solid #05ff00;
  }
  .article__text {
    // border-right: 2px solid #05ff00;
    border-left: 0;
    padding-left: 0;
    padding-right: 3em;
    // grid-column: 1;
  }
}

.section5__bg1 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
} 

.section5__bg2 {
  position: absolute;
  z-index: -10;
  // transform: rotate(351deg);
  bottom: 0;
}

@media screen and (max-width: 900px) {
    .section5__article {
        width: 80%;
        margin-top: 3em;
        grid-template-columns: 1fr;
        .article__text {
            padding: 0;
            padding-left: 3em;
        }
        img {
            padding: 0;
            padding-bottom: 2em;
        }
    }
    .section5__article-reverse {
        .article__text {
            padding: 0;
            padding-left: 3em;
            grid-row: 3;
            border-left: 2px solid #05ff00;
        }
        img {
                        // padding: 0;
                        padding-bottom: 2em;

            border: 0;
        }
    }

}
