.section6 {
  margin-top: 20em;
  height: 100vh;
  width: 100%;
  // max-width: 1536px;
  // max-height: 754px;
  // border: 1px solid white;
  display: grid;

  grid-template-rows: auto minmax(80% 80%);
}

.tren__arriba {
  // border: 1px solid white;
  padding-left: 60%;
  h2 {
    margin-left: 25px;
    color: $color6;
  }
  h3 {
    margin-left: 25px;
  }
}

.tren__abajo {
  max-height: 80%;
  // border: 1px solid white;
  display: grid;

  grid-template-columns: 60% 30% 10%;
  .tren__abajo-izquierda {
    // border: 1px solid white;
    display: flex;
    flex-direction: row-reverse;
    overflow: hidden;
    background-image: url("assets/train_leftbg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 10em;
    img {
      width: 50%;
      object-fit: cover;
      border-radius: 75px;
      border: 25px solid black;
      margin: 0 3em;
    }
  }
  .tren__abajo-puerta {
    padding: 1em;
    // border: 1px solid white;
    background-image: url("assets/section6_door.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    border: 25px solid black;
    border-bottom: 0;
    h2 {
    }
    h3 {
      padding-bottom: 1em;
      font-family: $h2-section5-article;
      font-size: 1.5em;
      text-transform: uppercase;
      font-weight: bold;
    }
    p {
      padding: 1em 0;
      &:first-of-type {
        font-style: italic;
      }
    }
  }
  .tren__abajo-derecha {
    padding-bottom: 10em;
    max-height: 100%;
    display: flex;
    // border: 1px solid white;
    overflow: hidden;
    background-image: url("assets/train_rigthbg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    img {
      //  width: auto;
      border-radius: 75px;
      border: 25px solid black;
      margin: 0 3em;
    }
  }
}

@media screen and (max-width: 950px) {
  .section6 {
    max-height: none;
    display: flex;
    flex-direction: column;
  }
  .tren__arriba {
    padding: 0;
    text-align: center;
    h2,
    h3 {
      margin: 0;
    }
  }
  .tren__abajo {
    max-height: none;
    // grid-template-columns: 1fr;
    display: flex;
    flex-direction: column;
    align-items: center;

    .tren__abajo-derecha {
      display: none;
    }
    .tren__abajo-puerta {
      background-image: none;
      width: 80%;
      padding: 0;
      border: 0;
    }
    .tren__abajo-izquierda {
      width: 100%;
      flex-direction: unset;
      justify-content: center;
      background-image: url("assets/section6__bgresponsive.png");
      padding: 0;
      img {
        border: 0;
        border-radius: 0;
        margin: 0;
      }
      img:first-child {
        width: 80%;
        margin-bottom: 2em;
      }
      img:last-child {
        display: none;
      }
    }
  }
}
