
//Main 
$bg-color: #000;
// Text
$main-color: #fff;
$h1-font: 'Big Shoulders Display', cursive;
$h1-size: 6em;
$h1-weight: 700;

$h2-font: 'Big Shoulders Display', cursive;
$h2-size: 4em;
$h2-weight: 400;

$h3-font: 'Comforter', cursive;
$h3-size: 3em;

$p-font: 'Montserrat', sans-serif;

$a-font: 'Big Shoulders Stencil Display', cursive;
$a-size: 2em;

$h3-section3: 'Great Vibes', cursive;

$h1-pegata-font: 'Impact', sans-serif;
$h1-pegata-size: 2em;
$h1-pegata-subtitle-size: 1.5em;

$h2-section5-article: 'Outfit', sans-serif;

$pegata-placeholder-font: 'Just Another Hand', cursive;
$pegata-placeholder-size: 2em;

//Colors
//Section 1
$color1: #49FFF4;
$color2: #AB0067;
$color3: #FF9900;
$color4: #AB0000;
$color5: #00D26F;
$color6: #D0D400;
$color7: #FDD400;